.THIS .adjustmentForm {
    width: 100%;
    height: fit-content;
    margin: 1rem 1rem;
}

.THIS .productInfo {
    width : 50%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: self-start;
    color: darkgrey;
}

.THIS .adjustmentContainer {
    display: flex;
    width: fit-content;
    height: 50px;
    padding: 0 1rem;
    align-items: center;
    justify-content: space-between;
    border-radius: 8px;
    box-shadow: 0 0 12px 0.25px lightgrey;
    margin: 1rem 0;
}

.THIS .valueToAdjustBy {
    padding: 0;
    margin: 0 2rem;
    font-size: 1.5rem;
    font-weight: 700;
}

.THIS .image {
    width: 10rem;
    border-radius: 12px;
    margin-bottom: 1rem;
}